
<form [formGroup] = "artist" ngClass="save">
  <mat-form-field appearance="fill" >
      <mat-label>Name:</mat-label>  <input matInput placeholder="Insert name" formControlName="name" [(ngModel)]="inputArtist.name"/>
  </mat-form-field>
  <mat-form-field appearance="fill" >
      <mat-label>Country: </mat-label> <input matInput placeholder="Insert country" formControlName="country" [(ngModel)]="inputArtist.country"/>
  </mat-form-field>
  <mat-form-field appearance="fill" >
      <mat-label>Enterprise: </mat-label> <input matInput placeholder="Insert enterprise" formControlName="enterprise" [(ngModel)]="inputArtist.enterprise"/>
  </mat-form-field>
  <mat-form-field appearance="fill" >
      <mat-label>Debut Date: </mat-label> <input matInput placeholder="Insert cdebut date" formControlName="debutDate" [(ngModel)]="inputArtist.debutDate"/>
  </mat-form-field>
  <mat-form-field appearance="fill" >
      <mat-label>Type: </mat-label> <input matInput placeholder="Insert type" formControlName="type" [(ngModel)]="inputArtist.type"/>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
  <button mat-raised-button color="warn" (click)="onBack()">Go Back</button>
</form>
