form {
  mat-form-field{
    color: whitesmoke;
    input{
      height: 5vh;
    }
  }
  color: whitesmoke;
  button {
    margin: 2vh;
    margin-top: 0;
    background-color: #79ff8fbb;
    color: whitesmoke;
  }
}
