.element--container {
  margin: 1% 0% 1% 0%;
  display: flex;
  border-radius: 50px;
  width: 100%;
  max-width: 900px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.logo--song {
  width: 80%;
  border-radius: 5%;
}

.image--section {
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.info--section {
  padding: 2%;
  width: 80%;
}
