<!-- Selectors and search -->
<div id="option-selector" [ngStyle]="{display: 'flex'}">
  <div Ngclass="searchTxt">
    <input class="searchTxt" type="text" placeholder="Enter text" [(ngModel)]="param" />
  </div>

    <!-- Search type selector -->
    <div style="width:100px; text-align:center">
      <mat-select [(value)]="typeSearch">
        <mat-option *ngFor="let option of typeOptions" [value]="option">{{option}}</mat-option>
      </mat-select>
    </div>
  <!-- Search strategy selector -->
  <div style="width:200px; text-align:center">
    <mat-select [(value)]="searchStrategy">
      <mat-option *ngFor="let option of strategyOptions" [value]="option">{{option}}</mat-option>
    </mat-select>
  </div>
  <div>
    <button mat-raised-button color="primary" routerLink="./put">Update artist</button>
  </div>
  <div>
    <button mat-raised-button color="primary" routerLink="./post">Post artist</button>
  </div>
</div>

<!-- ListComponent call -->
<app-artist-list [typeSearch]="typeSearch" [param]="param" [searchStrategy]="searchStrategy">
</app-artist-list>
<div id="list"></div>
