<!-- Selectors and search -->
<div id="option-selector" [ngStyle]="{display: 'flex'}">
  <div ngClass="artistTxt">
    <input type="text" placeholder="Enter text" [(ngModel)]="param" />
  </div>
  <div ngClass="artistOps">
    <input type="radio" id="artistChoice1" name="artist_radio_button" (click)="ngOnOptionSelection('name')" />
    <label for="artistChoice1">Name</label>

    <input type="radio" id="artistChoice2" name="artist_radio_button" (click)="ngOnOptionSelection('country')" />
    <label for="artistChoice2">Country</label>

    <input type="radio" id="artistChoice3" name="artist_radio_button" (click)="ngOnOptionSelection('age')" />
    <label for="artistChoice3">Age</label>
  </div>
</div>

<!-- ListComponent call -->
<div id="list">
<app-artist-list [typeSearch]="typeSearch" [param]='param'></app-artist-list>
</div>
