:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container-fluid{
    display: flex;
    padding: 0 16px 0px 16px;
    position: fixed;
    height:auto;
    width: 100%;
    height: 88%;
}

.rightContainer{
    padding: 0 16px;
    justify-content: center;
    background-color:#748590cc;
    margin: 15px 15px 15px 15px;
    width: 100%;
}

.leftContainer{
    background-color: #1368a0cc;
    margin: 15px 0px 15px 15px;
}

.artistTitle{
    width: 100%;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #1368a0cc;
    color: white;
    font-weight: 600;
    
}

.artistTitle h2 {
    margin: 14px 16px;
}

.albumTitle{
    width: 100%;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #a94dbbcc;
    color: white;
    font-weight: 600;
}

.albumTitle h2 {
    margin: 14px 16px;
}