<div class="form--container">
    <form [formGroup] = "saveAlbum" ngClass="save">
        <mat-form-field appearance="fill" >
            <mat-label>title:</mat-label>  <input matInput placeholder="Insert name" formControlName="title"/> 
        </mat-form-field>
        <mat-form-field appearance="fill" >
            <mat-label>total songs: </mat-label> <input matInput placeholder="Insert total of songs" formControlName="totalSongs"/>
        </mat-form-field>
        <mat-form-field appearance="fill" >
            <mat-label>year release: </mat-label> <input matInput placeholder="Insert year of release" formControlName="yearRelease"/>
        </mat-form-field>
        <mat-form-field appearance="fill" >
            <mat-label>genre: </mat-label> <input matInput placeholder="Insert genre" formControlName="genre"/>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Artist</mat-label>
            <mat-select formControlName="artistDTO">
              <mat-option *ngFor="let ex of artistAvailable" [value]="ex">
                {{ ex.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <button mat-raised-button color="primary" [mat-dialog-close]="this.saveAlbum.getRawValue()">Save</button>
     
    </form>
    

</div>
