.container{
    display: grid;
    grid-template-columns: 30% auto;
    
}

.card-list{
    position: relative;
    top: 60px;
    margin: 1rem;
}

.artistTitle{
    position: relative;
    top: 60px;
    width: 100%;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #1368a0cc;
    color: white;
    font-weight: 600;
    
}

.artistTitle h2 {
    margin: 0.5rem 1rem;
}

.albumTitle{
    position: relative;
    top: 50px;
    width: 100%;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #a94dbbcc;
    color: white;
    font-weight: 600;
}

.albumTitle h2 {
    margin: 0.5rem 1rem;
}

.artistTitle, .albumTitle :hover {
    cursor: pointer;
}