
<div ngClass="artist-form-container">

  <form [formGroup] = "album" ngClass="album-form">
    <mat-form-field appearance="fill" >
        <mat-label>Name:</mat-label>  <input matInput placeholder="Insert name" formControlName="name" [value]="albumSelected.name"/>
    </mat-form-field>
    <mat-form-field appearance="fill" >
        <mat-label>Country: </mat-label> <input matInput placeholder="Insert genre" formControlName="genre" [value]="albumSelected.genre"/>
    </mat-form-field>
    <mat-form-field appearance="fill" >
        <mat-label>Enterprise: </mat-label> <input matInput placeholder="Insert release year" formControlName="yearRelease" [value]="albumSelected.yearRelease"/>
    </mat-form-field>
    <mat-form-field appearance="fill" >
        <mat-label>Debut Date: </mat-label> <input matInput placeholder="Insert total songs" formControlName="totalSongs" [value]="albumSelected.totalSongs"/>
    </mat-form-field>
    <button mat-raised-button color="primary" style="margin: 5px" (click)="onSubmit()">Save</button>
    <button mat-raised-button color="warn" style="margin: 5px" routerLink="/artist">Go Back</button>
  </form>
  </div>
