<div [ngStyle]="{ display: 'flex' }">
  <div ngClass="artistTxt">
    <input
      class="artist-input"
      type="text"
      placeholder="Enter text"
      [(ngModel)]="param"
    />
  </div>
  <div ngClass="artistOps">
    <input
      class="radio-btn"
      type="radio"
      name="filterOption"
      (click)="filter('age')"
    />
    Age
    <input
      class="radio-btn"
      type="radio"
      name="filterOption"
      (click)="filter('name')"
    />
    Name
    <input
      class="radio-btn"
      type="radio"
      name="filterOption"
      (click)="filter('country')"
    />
    Country
  </div>
</div>

<div *ngFor="let artist of artistsList">
  <div class="artist-container">
    <figure>
      <img class="artist-image" [src]="artist.image" alt="image" />
    </figure>
    <p class="artist-info">
      ID: {{ artist.id }} <br />
      Name: {{ artist.name }} <br />
      Country: {{ artist.country }} <br />
      Age: {{ artist.age }} <br />
      Debut Year: {{ artist.debutYear }} <br />
      Total Number of Albums: {{ artist.totalAlbums }} <br />
    </p>
  </div>
</div>

<ng-container *ngIf="results > 0; else noArtistFound">
  <div>
    <h4>Founded: {{ results }}</h4>
  </div>
</ng-container>
<ng-template #noArtistFound>
  <div>
    <h4>No artist were found</h4>
  </div>
</ng-template>
