button {
  margin: 0 5px 0 5px;
  background-color: lightseagreen;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 3px gray;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0 4px darkgray;
}

button:active {
  cursor: pointer;
  box-shadow: none;
}

img {
  width: 120px;
  height: 120px;
  border-radius: 5px;
}


