<div [ngStyle]="{display: 'flex'}">
  <div ngClass="artistTxt">
    <input type="text" placeholder="Enter text" [(ngModel)]="param"/>
  </div>
  <div ngClass="artistOps">
    <button type="button" (click)="search(param, 'name')">Name</button>
    <button type="button" (click)="search(param, 'country')">Country</button>
    <button type="button" (click)="search(param, 'age')">Age</button>
    <button type="button" (click)="search(param, 'reset')">Reset</button>
  </div>
</div>

<div [ngStyle]="{display: 'flex', flexDirection:'row'}" *ngFor="let artist of l_artists">
  <div [ngStyle]="{padding:'5px'}">
    <img src="{{artist.picture}}" alt="Album cover">
  </div>
  <div [ngStyle]="{backgroundColor: 'pink', margin: '10px 10px 10px 13px ', padding:'5px', flexDirection:'column', width:'300px'}">
    id: {{artist.id}} <br/>
    name: {{artist.name}} <br/>
    country: {{artist.country}} <br/>
    age: {{artist.age}} <br/>
    year debut: {{artist.year_debut}} <br/>
    total of albums: {{artist.total_albums}} <br/>
  </div>

</div>

<!--Implement acording to the results obtained founded: n or There are no matches-->
<ng-container *ngIf="results > 0; else noArtistFound ">
  <div>
    <h4>Founded: {{results}}</h4>
  </div>

</ng-container>
<ng-template #noArtistFound>
  <div>
    <h4>No artist were found</h4>
  </div>
</ng-template>
