html *{
  background-color: #F0E6E0 !important;
  font-family: Roboto !important;
};

.search-bar{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 15px;
  div {
    padding: 10px;
    label {
      margin-right: 5px;
    };
  };
}

.artist-details-container{
  display: grid;
  grid-template-columns: 1fr 7fr;
  img {
    margin-left: 20px;
    height: 120px;
    width: 150px;
    border-radius: 15px;
    justify-content: center;
  }
};

.artist-details {
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
  justify-content: center;
  align-items: center;
  div {
    margin-left: 5px;
    padding: 5px;
    justify-content: left;
  }
}


