<div ngClass="artistSearch">
    <div ngClass="artistTxt">
        <input type="text" placeholder="Enter text" (keyup)="ngOnSearch()" [(ngModel)]="param"/>
    </div>
    <!-- <div ngClass="artistOptions"> -->
    <!--     <input type="radio" value="name" name="opt" [ngModel]="filter" (change)="ngOnSearch()"/> Name -->
    <!--     <input type="radio" value="country" name="opt" [ngModel]="filter" (change)="ngOnSearch()"/> Country -->
    <!--     <input type="radio" value="age" name="opt" [ngModel]="filter" (change)="ngOnSearch()"/> Age -->
    <!-- </div> -->
</div>

<div *ngFor="let artist of f_artists | paginate : { itemsPerPage: 3,
    currentPage: page}" [ngClass]="{even: artist.id % 2 === 0, odd: artist.id % 2 !== 0}">
    <div ngClass="artistResults-artist">
        <img 
        *ngIf="artist.img?.url"
        [src]="artist.img.url"
        [alt]="artist.name"
        />
        <div>
            Id: {{artist.id}} <br/>
            Name: {{artist.name}} <br/>
            Country: {{artist.country}} <br/>
            Age: {{artist.age}} <br/>
            Year debut: {{artist.year_debut}} <br/>
            Total of albums: {{artist.total_albums}} <br/>
        </div>
    </div>
  
</div>

<pagination-controls (pageChange)="page = $event"></pagination-controls>
<!--Implement acording to the results obtained founded: n or There are no matches-->
<ng-container *ngIf="results > 0; else noArtistFound ">
    <div>
        <h4>Founded: {{results}}</h4>
    </div>

</ng-container>
<ng-template #noArtistFound>
    <div>
        <h4>No artist were found</h4>
    </div>
</ng-template>
