.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}

.artistOps{
    margin-left: 10pt;
    
}
.artistButton {
    margin-right: 10pt;
}

.found{
    margin: 10px 10px 10px 13px;
}