<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle();">
      <mat-icon>menu</mat-icon>
    </button>
    Music Catalog
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav opened mode="side">
    <mat-nav-list>

      <mat-list-item routerLink="/">
        <a><mat-icon>home</mat-icon></a>
        <a>home</a>
      </mat-list-item>

      <mat-list-item routerLink="/artist">
        <a><mat-icon>people</mat-icon></a>
        <a>Artist</a>
      </mat-list-item>

      <mat-list-item routerLink="/album">
        <a><mat-icon>library_music</mat-icon></a>
        <a>Albums</a>
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div style="height: 90vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
