

<app-sidenavbar></app-sidenavbar>

<div class="content" role="main">
  <div class="selector--content">
    <div class="artistTitle" routerLink="/artist"><h2>Artist</h2></div>
    <br />
    <div class="albumTitle" routerLink="/album"><h2>Album</h2></div>
    <br />
  </div>
  <div class="info--content">
    <router-outlet></router-outlet>

  </div>
  
</div>

<!-- Footer -->
<div class="footer" role="banner">
  <img
    width="40"
    alt="Copyright Logo"
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Copyright-serif.svg/2048px-Copyright-serif.svg.png"
  />
  <span>Copyright, 2023 - DiegoBecerra</span>
</div>
