@use "sass:map";
@use "@angular/material" as mat;

$pink-color: mat.$pink-palette;
$blue-gray-color: mat.$blue-gray-palette;
$gray-color: mat.$gray-palette;

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 6vh;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 600;
  background-color: map.get($pink-color, 500);
}

.footer img {
  margin: 0 16px;
}

.content {
  display: flex;
  margin: 82px auto 62px;
  flex-direction: row;
  height: 80vh;
  padding: 10px;
}

.selector {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #ffffff33;
  background-color: map.get($blue-gray-color, 500);
}

.results {
  display: flex;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #33333333;
  margin: 1%;
  box-shadow: 1px 1px 10px #ffffff33;
  background-color: map.get($blue-gray-color, 500);
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 600;
  background-color: map.get($pink-color, 500);
}

.toolbar img {
  margin: 0 16px;
}

.artistTitle {
  width: 100%;
  left: 0;
  right: 0;
  height: 60px;
  color: white;
  font-weight: 600;
  background-color: map.get($blue-gray-color, 900);
}

.artistTitle h2 {
  margin: 14px 16px;
}

.albumTitle {
  width: 100%;
  left: 0;
  right: 0;
  height: 60px;
  color: white;
  font-weight: 600;
  background-color: map.get($blue-gray-color, 900);
}

.albumTitle:hover, .artistTitle:hover{
  cursor: pointer;
}

.albumTitle h2 {
  margin: 14px 16px;
}
