:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #04724D;
  opacity: 0.7;
  color: white;
  font-weight: 600;
}

.footer img {
  margin: 0 16px;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  //max-width: 960px;
  flex-direction: column;
  //align-items: center;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #E87461;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.artistTitle {
  width: 100%;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #2AB7CA;
  color: white;
  font-weight: 600;
  border-radius: 10px;
}

.artistTitle h2 {
  margin: 14px 16px;
}

.albumTitle {
  width: 100%;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #FED766;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  border-color: #393424;
}

.albumTitle h2 {
  margin: 14px 16px;
}
