<!-- Toolbar -->
<div class="toolbar" role="banner" (click)="ngOnShowList('n/a')">
  <img width="40" alt="CITYLarry Logo" src="../assets/img/logosinfondo.png" />
  <span>Music catalog</span>
    
</div>

<div class="col">
  <div class="content" role="main">

    <div class="artistTitle"><h2>Artist</h2></div>
    <br/>
    <div class="albumTitle"><h2>Album</h2></div>
    <br/>
  </div>
</div>

<!-- Footer -->
<div class="footer" role="banner">
  <img
    width="40"
    alt="Copyright Logo"
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Copyright-serif.svg/2048px-Copyright-serif.svg.png"
  />
  <span>Copyright, 2023 - CITYLarry</span>
</div> 