:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 7vh;
  display: flex;
  align-items: center;
  background-color: #3d13a0a9;
  color: white;
  font-weight: 600;
  img {
    margin: 0 3%;
  }
}
.all-content {
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 7vh;
    display: flex;
    align-items: center;
    background-color: #3d13a0cc;
    color: white;
    font-weight: 600;
    img {
      margin: 0 16px;
    }
  }
  .catalog {
    margin: 0;
    padding-top: 11vh;
    display: flex;
    height: 87vh;
    justify-content: stretch;
  }
}
