:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #3d13a0a9;
  color: white;
  font-weight: 600;
}

.footer img {
  margin: 0 16px;
}

.content {
  display: flex;
  margin: 82px auto 50px;
  padding: 0 16px;
  //max-width: 960px;
  flex-direction: column;
  //align-items: center;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #3d13a0cc;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.search-option {
  left: 0;
  right: 0;
  height: 7vh;
  background-color: #79ff8fcc;
  color: white;
  font-weight: 600;
  border-radius: 3vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0vw 2vw 0vw 2vw;
  h2{
    margin: 0;
  }
}
