<div [ngStyle]="{display: 'flex'}">
  <div [ngStyle]="{marginTop:'5px'}">
    <input type="text" placeholder="Enter text" [(ngModel)]="param"/>
  </div>
  <div>
    <button type="button" [ngStyle]="{marginTop:'5px'}" (click)="searchObs(param,'title')">Title</button>
    <button type="button" [ngStyle]="{marginTop:'5px'}" (click)="searchObs(param,'genre')">Genre</button>
    <button type="button" [ngStyle]="{marginTop:'5px'}" (click)="searchObs(param,'releaseDate')">Release Date</button>
    <button type="button" [ngStyle]="{marginTop:'5px'}" (click)="searchObs(param,'reset')">Reset</button>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Type of search</mat-label>
      <mat-select>
        <mat-option>Title</mat-option>
        <mat-option>Genre</mat-option>
        <mat-option>Release Date</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<mat-card [ngStyle]="{display: 'flex', flexDirection:'row', marginTop:'5px'}" *ngFor="let album of l_albums_filtered">

  <div [ngStyle]="{padding:'4px'}">
    <img src="{{album.picture}}" alt="Album cover">
  </div>

  <div [ngStyle]="{flexDirection:'column', width:'100%'}">

    <h4>{{album.id}}</h4>
    <h4>title: {{album.title}}</h4>
    <h4>genre: {{album.genre}}</h4>
    <h4>release date: {{album.releaseDate}}</h4>
    <h4>number of songs: {{album.numberOfSongs}}</h4>
  </div>
</mat-card>
<mat-paginator [length]="l_albums.length" [pageSize]="defaultPerPage" aria-label="Select page" (page)="pageEvent = $event; onPaginateChange($event)">
</mat-paginator>
