button{
  margin: 0 5px 0 5px;
  background-color: thistle;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 3px gray;
}

button:hover{
  cursor: pointer;
  box-shadow: 0 0 4px darkgray;
}

button:active{
  cursor: pointer;
  box-shadow: none;
}

img{
  width: 150px;
  height: 150px;
  border-radius: 5px;
}
