<form class="form-group row" [formGroup]="formEdit">

    <div class="form-group row-md-3">
        <label for="name"><strong>Name:</strong></label>
        <input type="text" formControlName="name" placeholder="Name" class="form-control" >
    </div>

    <div class="form-group row-md-3">
        <label for="country"><strong>Country:</strong></label>
        <input type="text" formControlName="country" placeholder="Country" class="form-control">
    </div>

    <div class="form-group row-md-3">
        <label for="age"><strong>Age:</strong></label>
        <input type="number" formControlName="age" placeholder="Age" class="form-control">
    </div>

    <div class="form-group row-md-3">
        <label for="year_debut"><strong>Year Debut:</strong></label>
        <input type="number" formControlName="yearDebut" placeholder="Year Debut" class="form-control">
    </div>

    <div class="form-group row-md-3">
        <label for="total_albums"><strong>Total Albums:</strong></label>
        <input type="number" formControlName="totalAlbums" placeholder="Total Albums" class="form-control">
    </div>

    <div style="display: flex;">
        <div style="margin: 1rem;">
            <button type="button" class="btn btn-primary" (click)="ngEditArtist()">Edit</button>
        </div>
        
        <div style="margin: 1rem;">
            <button type="button" class="btn btn-warning" routerLink="/artist">Cancel</button>
        </div>

        <div style="margin: 1rem;">
            <button type="button" class="btn btn-danger" (click)="ngDeleteArtist()">Delete</button>
        </div>
    </div>
</form>

