.artistTitle{
  width: 50%;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #1368a0cc;
  color: white;
  font-weight: 600;

}

.artistTitle h2 {
  margin: 14px 16px;
}

.albumTitle{
  width: 50%;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #a94dbbcc;
  color: white;
  font-weight: 600;
}

.albumTitle h2 {
  margin: 14px 16px;
}
