/* You can add global styles to this file, and also import other style files */
.entry_card{
}
.results_body{
  padding: 5px;
  margin: 10px 10px 10px 13px ;
  background-color: pink;
}
.search_bar{
  display: flex;
  align-items: center;
}
.result_text{
  margin: 0px 0px 0px 10px ;
}
