/* You can add global styles to this file, and also import other style files */
body {
  background: linear-gradient(rgb(102, 102, 102), 10%, rgb(29, 29, 29));
  background-size: cover;
  height: 100vh;
  margin: 0;
  ::-webkit-scrollbar {
    width: 0.5vw;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #79ff8fcc;
    border-radius: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #79ff8fcc;
    border-radius: 10px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #79ff8f6b;
  }
}

.result_text {
  margin: 0px 0px 0px 10px;
  color: rgba(245, 245, 245, 0.514);
}

.search_bar {
  height: 5vh;
  padding-bottom: 1.5vh;
  margin-left: 2.5vh;
  display: flex;
  align-items: stretch;
  select {
    font-size: small;
    font-weight: 700;
    border: none;
    border-right: double 1px #616161;
    padding-left: 1vh;
    color: #616161;
  }
  #filter-by {
    width: 6vw;
    border-radius: 3vh 0 0 3vh;
  }
  .input-text {
    display: flex;
    justify-content: center;
    input {
      padding-left: 0.5vw;
      border-radius: 0 3vh 3vh 0;
      width: 20vw;
      border: none;
      font-size: small;
      font-weight: 700;
      color: #616161;
    }
  }

  button {
    padding-top: 0.2vw;
    width: 5vh;
    margin-left: 2vh;
    border-radius: 3vh;
    border: none;
    background-color: #79ff8faf;
    border: solid 1px rgba(245, 245, 245, 0.205);
    color: whitesmoke;
  }
  .search-results {
    display: flex;
    align-items: flex-end;
    padding-bottom: 0.5vh;

  }
}
.results_body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 1vh;
  color: whitesmoke;
  height: 85%;
  overflow-y: scroll;

  .entry_card {
    padding: 1vh;
    margin: 1vh;
    background: linear-gradient(
      90deg,
      #3d3d3dcc,
      90%,
      rgba(128, 128, 128, 0.027)
    );
    width: 45%;
    border-radius: 3vh;
    padding: 2vh;
    height: 15vh;
    display: flex;
    align-items: stretch;
    gap: 2vh;
    img {
      border: solid 1px black;
      height: 15vh;
      width: 15vh;
      border-radius: 2vh;
    }
    .card-info {
      display: flex;
      flex-direction: column;
      gap: 1vh;
      #genre {
        font-size: x-large;
      }
      h3 {
        font-size: xx-large;
        margin: 0;
        span {
          font-size: medium;
        }
      }
      h4 {
        margin: 0;
      }
    }
  }
}
