<form [formGroup]="saveArtist" ngClass="save">
  <mat-form-field appearance="fill">
    <mat-label>Name:</mat-label>
    <input matInput placeholder="Insert name" formControlName="name" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Country: </mat-label>
    <input matInput placeholder="Insert country" formControlName="country" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Enterprise: </mat-label>
    <input
      matInput
      placeholder="Insert enterprise"
      formControlName="enterprise"
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Debut Date: </mat-label>
    <input
      matInput
      placeholder="Insert debut date"
      formControlName="debutDate"
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Type: </mat-label>
    <input matInput placeholder="Insert type" formControlName="type" />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
  <button mat-raised-button color="warn" routerLink="/artist">Go Back</button>
</form>
