<form [formGroup]="saveArtist" ngClass="save">
    <!--<input type="hidden" placeholder="Insert country" 
        [ngModel]="updArtist.countryDTO"/>-->
    <mat-form-field appearance="fill">
        <mat-label>Name:</mat-label> 
        <input matInput placeholder="Insert name" [ngModel]="updArtist.nameDTO" formControlName="nameDTO" />
    </mat-form-field>

    <mat-form-field class="invisible example-full-width" appearance="fill">
        <mat-label>iD:</mat-label> 
        <input matInput placeholder="Insert name" [ngModel]="updArtist.artistIDDTO" formControlName="artistIDDTO" />
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>Country: </mat-label> 
        <input matInput placeholder="Insert country" 
        [ngModel]="updArtist.countryDTO"
        formControlName="countryDTO" />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Enterprise: </mat-label> <input matInput 
        [ngModel]="updArtist.enterpriseDTO"
         placeholder="Insert enterprise"
            formControlName="enterpriseDTO" />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Debut Date: </mat-label>
        <input matInput [matDatepicker]="picker" 
        placeholder="Insert debut date"
        [ngModel]="updArtist.debutDateDTO"
        formControlName="debutDateDTO" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Type: </mat-label>
        <mat-select [(value)]="selected" formControlName="typeDTO">
            <mat-option value="Soloist">Soloist</mat-option>
            <mat-option value="Band">Band</mat-option>

        </mat-select>

    </mat-form-field>
    <button mat-raised-button color="primary" *ngIf="this.hiddeCreateButton"   (click)="onSubmit()">Save</button>
    <button mat-raised-button color="primary"  *ngIf="this.hiddeUpdateButton" (click)="updateArtist()">Update</button>
    <button mat-raised-button color="warn" routerLink="/artist">Go Back</button>

</form>